<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="kumanda.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="kumanda.Properties.Settings.vtoleConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\vtole.accdb;Jet OLEDB:Database Password=mehmetalbayrak"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <kumanda.Properties.Settings>
            <setting name="x" serializeAs="String">
                <value />
            </setting>
            <setting name="y" serializeAs="String">
                <value />
            </setting>
            <setting name="z" serializeAs="String">
                <value />
            </setting>
            <setting name="yyxxx" serializeAs="String">
                <value />
            </setting>
            <setting name="xyz" serializeAs="String">
                <value />
            </setting>
            <setting name="count" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="durum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="yardim" serializeAs="String">
                <value>true</value>
            </setting>
        </kumanda.Properties.Settings>
    </userSettings>
</configuration>